version: "3"
services:
  db:
    hostname: db
    image: mysql:latest
    container_name: db_container
    ports:
      - 5432:5432
    volumes:
      - ../scripts:/docker-entrypoint-initdb.d
    environment:
      MYSQL_ROOT_PASSWORD: pswd
      MYSQL_DATABASE: mysql-db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
  app:
    container_name: app
    ports:
      - 8080:8080
    build:
      context: .
    depends_on:
      - db
    environment:
      - spring.datasource.driverClassName=com.mysql.jdbc.Driver
      - spring.datasource.url=jdbc:mysql://db:5432/mysql-db?useSSL=false
      - spring.datasource.username=user
      - spring.datasource.password=password
